
	#wrapper{
		width:80%;
		margin: 0 auto;
	}
	
	nav ul{
		margin-left: 235px;
	}

	nav li a{
		margin-left:10px;
		font-family: 'MySecondWebFont', Corbel, sans-serif;
		text-decoration: none;
		color: #55c94c;

	}

	a:hover{
		color:#f09738;
	}

	nav li{
		display: inline;
	}	

	.logo{
		margin-top: 20px;
	}

	